* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none; }

#home {
  width: 100%;
  height: 1000px;
  background-image: url("../img/background_vulture.jpg");
  color: #ffffff;
  padding: 10px;
  background-position: center;
  background-size: cover; }
  #home h2 {
    text-align: center;
    margin-top: 201px;
    font-size: 5.6vw;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 0;
    font-weight: 400; }
  #home h1 {
    text-align: center;
    font-size: 11.6vw;
    text-transform: uppercase;
    margin-top: 5px;
    margin-left: 7px; }
    #home h1:after {
      content: '';
      height: 3px;
      width: 60px;
      background-color: #ffffff;
      position: absolute;
      margin-top: 77px;
      margin-left: -34px; }
    #home h1 p {
      margin: -41px;
      width: 100%;
      margin-left: 0; }
  #home a.learn-more-button {
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: 14px;
    color: #ffffff;
    border: 3px solid;
    margin-top: 129px;
    padding: 9px;
    width: 160px;
    margin-right: auto;
    margin-left: 50%;
    transform: translateX(-50%); }
  #home div.home-bottom {
    display: flex;
    margin-top: 164px;
    color: #ffffff;
    width: 100%;
    flex-direction: column;
    justify-content: center; }
    @media screen and (min-width: 767px) {
      #home div.home-bottom {
        flex-direction: row;
        justify-content: flex-start; } }
    #home div.home-bottom div.home-bottom-number {
      display: flex;
      margin: 16px 21px;
      font-size: 23px;
      font-weight: bold;
      justify-content: center; }
      @media screen and (min-width: 767px) {
        #home div.home-bottom div.home-bottom-number {
          width: 50%;
          justify-content: flex-start; } }
    #home div.home-bottom div.home-bottom-word {
      margin-left: 7px;
      text-transform: uppercase;
      font-size: 17px;
      margin-top: 5px; }

div.navigation {
  position: fixed;
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: flex-end;
  background-image: url("../img/background_vulture.jpg");
  background-position: top;
  background-size: initial;
  margin-top: -10px;
  margin-left: -10px;
  z-index: 10; }
  div.navigation div.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 12px 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer; }
  div.navigation nav {
    text-transform: uppercase;
    color: #ffffff;
    display: block;
    font-size: 20px;
    margin-top: 80px;
    text-align: center;
    position: absolute;
    margin-left: auto;
    overflow: hidden;
    height: 0;
    transition-duration: 300ms;
    background-image: url("../img/background_vulture.jpg");
    background-position: top;
    background-size: initial;
    width: 100%; }
    @media screen and (min-width: 767px) {
      div.navigation nav {
        flex-direction: row;
        display: flex;
        justify-content: flex-end;
        margin-top: 36px;
        margin-right: 30px;
        transform: none;
        font-size: 13px;
        overflow: visible;
        padding-right: 29px;
        background-image: none; } }
    div.navigation nav a {
      padding-left: 42px;
      color: #ffffff; }
    div.navigation nav a.menu-button {
      padding-right: 12px;
      letter-spacing: 1px;
      padding-bottom: 10px;
      display: block;
      text-align: center; }
      div.navigation nav a.menu-button:hover {
        color: #fbdd89; }

.down {
  padding-bottom: 220px; }
  @media screen and (min-width: 767px) {
    .down {
      display: flex;
      justify-content: flex-end;
      margin-top: 36px;
      margin-right: 30px;
      transition-duration: 10ms; } }

#storyAboutUs h4 {
  margin-top: 86px; }

#storyAboutUs p.under-header {
  margin-top: 38px; }

#storyAboutUs div.about-gallery {
  margin-top: -16px;
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media screen and (min-width: 767px) {
    #storyAboutUs div.about-gallery {
      flex-direction: row; } }
  #storyAboutUs div.about-gallery div.about-gallery-pic {
    width: 50%;
    padding: 20px;
    flex: 1;
    text-align: center;
    background-image: url("../img/pic1.jpg");
    background-repeat: no-repeat;
    margin-top: 88px;
    height: 250px;
    padding-top: 104px;
    margin-left: 50%;
    transform: translateX(-50%); }
    #storyAboutUs div.about-gallery div.about-gallery-pic:nth-of-type(2) {
      background-image: url("../img/pic2.jpg"); }
    #storyAboutUs div.about-gallery div.about-gallery-pic:nth-of-type(3) {
      background-image: url("../img/pic3.jpg"); }
      @media screen and (min-width: 767px) {
        #storyAboutUs div.about-gallery div.about-gallery-pic:nth-of-type(3) {
          margin-right: 23px; } }
    @media screen and (min-width: 767px) {
      #storyAboutUs div.about-gallery div.about-gallery-pic {
        width: 33.3%;
        margin-left: 23px;
        transform: none; } }
    #storyAboutUs div.about-gallery div.about-gallery-pic div.about-gallery-img {
      padding: 20px;
      flex: 1;
      text-align: center;
      margin-left: -20px;
      margin-top: -104px;
      height: 250px;
      padding-top: 104px;
      margin-right: -20px; }
      #storyAboutUs div.about-gallery div.about-gallery-pic div.about-gallery-img:hover {
        z-index: 5;
        -webkit-box-shadow: 10px 10px 0px 0px #95e1d3;
        -moz-box-shadow: 10px 10px 0px 0px #95e1d3;
        box-shadow: 10px 10px 0px 0px #95e1d3;
        background: -moz-linear-gradient(top, #f38181 0%, rgba(252, 227, 138, 0.9) 100%), url("../img/pic1.jpg");
        background: -webkit-linear-gradient(top, #f38181 0%, rgba(252, 227, 138, 0.9) 100%);
        background: linear-gradient(to bottom, #f38181 0%, rgba(252, 227, 138, 0.9) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#e6fce38a',GradientType=0 ); }
      #storyAboutUs div.about-gallery div.about-gallery-pic div.about-gallery-img:hover .hover-items {
        opacity: 1; }
    #storyAboutUs div.about-gallery div.about-gallery-pic img {
      opacity: 0; }
    #storyAboutUs div.about-gallery div.about-gallery-pic p.about-gallery-text {
      text-transform: uppercase;
      color: #ffffff;
      font-weight: bold;
      margin-top: 3px;
      font-size: 18px;
      opacity: 0; }

#storyAboutUs div.about-box-conteiner {
  flex: 1;
  background: #95e1d3;
  margin-top: 119px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap; }
  #storyAboutUs div.about-box-conteiner .about-box {
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 19px -70px;
    font-family: 'Montserrat', sans-serif; }
    @media screen and (min-width: 767px) {
      #storyAboutUs div.about-box-conteiner .about-box {
        margin: 72px -6px;
        width: 20%; } }
  #storyAboutUs div.about-box-conteiner .about-box-number {
    font-size: 6vw;
    font-weight: bold;
    color: #ffffff; }
  #storyAboutUs div.about-box-conteiner .about-box-text {
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 5px;
    font-size: 1.1vw; }

#amazingServices h4 {
  margin-top: 115px; }

#amazingServices div.service-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 44px;
  padding: 2px 60px;
  margin-bottom: 50px; }
  #amazingServices div.service-box div.service-box-element {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 64px;
    padding-right: 57px; }
    @media screen and (min-width: 550px) {
      #amazingServices div.service-box div.service-box-element {
        width: 50%; } }
    @media screen and (min-width: 767px) {
      #amazingServices div.service-box div.service-box-element {
        width: 33.3%; }
        #amazingServices div.service-box div.service-box-element:nth-of-type(2) {
          padding-left: 19px; }
        #amazingServices div.service-box div.service-box-element:nth-of-type(5) {
          padding-left: 19px; }
        #amazingServices div.service-box div.service-box-element:nth-of-type(3) {
          padding-left: 39px;
          padding-right: 0px; }
        #amazingServices div.service-box div.service-box-element:nth-of-type(6) {
          padding-left: 39px;
          padding-right: 0px; } }
    #amazingServices div.service-box div.service-box-element img.service-icon {
      margin: auto;
      padding-bottom: 35px;
      padding-left: 1px; }
    #amazingServices div.service-box div.service-box-element div.service-box-text {
      padding-left: 27px;
      padding-top: 2px;
      padding-right: 2px; }
      #amazingServices div.service-box div.service-box-element div.service-box-text p.p1 {
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: -5px;
        font-weight: bold; }
      #amazingServices div.service-box div.service-box-element div.service-box-text p.p2 {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        padding-top: 2px;
        line-height: 24px;
        color: #999999; }

#uniqueDesign {
  background-image: url("../img/background_uniquedesign.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 850px;
  margin-top: -30px;
  padding-top: 1px; }
  #uniqueDesign h4 {
    margin-top: 120px; }
  #uniqueDesign img.mobile {
    display: block;
    text-align: center;
    margin: auto;
    padding-top: 45px;
    padding-left: 103px;
    width: 100%; }
    @media screen and (min-width: 767px) {
      #uniqueDesign img.mobile {
        width: auto; } }

#whatWeDo h4 {
  margin-top: 122px; }

#whatWeDo p.under-header {
  margin-top: 38px; }

#whatWeDo div.weDo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 86px 30px; }
  @media screen and (min-width: 767px) {
    #whatWeDo div.weDo-box {
      flex-direction: row;
      width: 97%;
      height: 381px; } }
  @media screen and (min-width: 767px) {
    #whatWeDo div.weDo-box div.weDo-accordion {
      margin-left: 31px;
      width: 47%; } }
  #whatWeDo div.weDo-box div.weDo-accordion button.accordion-button {
    width: 100%;
    height: 60px;
    padding-left: 14px;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 7px;
    border: 1px solid;
    border-color: #e5e5e5;
    background-color: white;
    font-weight: bold;
    margin-bottom: -25px; }
    #whatWeDo div.weDo-box div.weDo-accordion button.accordion-button:hover {
      background: #e5e5e5; }
    #whatWeDo div.weDo-box div.weDo-accordion button.accordion-button img {
      padding-right: 16px;
      vertical-align: middle; }
  #whatWeDo div.weDo-box div.weDo-accordion div.accordion-panel {
    overflow: hidden;
    height: 1px;
    transition-duration: 300ms;
    font-size: 15px;
    line-height: 24px;
    padding-top: 18px;
    width: 576px;
    font-style: italic;
    color: #999999;
    margin-bottom: 13px; }
    #whatWeDo div.weDo-box div.weDo-accordion div.accordion-panel p {
      width: 100%;
      text-align: left;
      margin: -18px 0;
      padding: 16px 19px;
      border: 1px solid;
      border-color: #e5e5e5; }
  #whatWeDo div.weDo-box div.weDo-accordion .down {
    padding-bottom: 160px; }

#whatWeDo .quote-text-bottom {
  padding-left: 31px; }
  #whatWeDo .quote-text-bottom span.line {
    padding-left: 30px;
    width: 60px; }
  #whatWeDo .quote-text-bottom p.quote-autor {
    margin-left: -31px;
    margin-top: -5px; }

#meetOurTeam h4 {
  margin-top: 166px; }

#meetOurTeam p {
  margin-top: 40px; }

#meetOurTeam div.team-gallery {
  display: flex;
  padding: 63px 7px;
  width: 100%;
  flex-direction: column; }
  @media screen and (min-width: 767px) {
    #meetOurTeam div.team-gallery {
      flex-direction: row; } }
  #meetOurTeam div.team-gallery .team-gallery-box {
    display: flex;
    width: 100%;
    flex-direction: column; }
    #meetOurTeam div.team-gallery .team-gallery-box .team-gallery-pic1, #meetOurTeam div.team-gallery .team-gallery-box .team-gallery-pic2, #meetOurTeam div.team-gallery .team-gallery-box .team-gallery-pic3 {
      text-align: center;
      background-repeat: no-repeat;
      margin-top: 2px;
      height: 470px;
      padding-top: 104px;
      margin-left: 50%;
      transform: translateX(-50%); }
      @media screen and (min-width: 767px) {
        #meetOurTeam div.team-gallery .team-gallery-box .team-gallery-pic1, #meetOurTeam div.team-gallery .team-gallery-box .team-gallery-pic2, #meetOurTeam div.team-gallery .team-gallery-box .team-gallery-pic3 {
          width: 100%;
          margin-left: 23px;
          transform: none; } }
    #meetOurTeam div.team-gallery .team-gallery-box .team-gallery-pic1 {
      background-image: url("../img/pic5.jpg"); }
    #meetOurTeam div.team-gallery .team-gallery-box .team-gallery-pic2 {
      background-image: url("../img/pic6.jpg"); }
    #meetOurTeam div.team-gallery .team-gallery-box .team-gallery-pic3 {
      background-image: url("../img/pic7.jpg"); }
      @media screen and (min-width: 767px) {
        #meetOurTeam div.team-gallery .team-gallery-box .team-gallery-pic3 {
          margin-right: 23px; } }
    #meetOurTeam div.team-gallery .team-gallery-box .team-gallery-img {
      margin-top: -104px;
      height: 470px;
      padding-top: 104px;
      width: 100%; }
      @media screen and (min-width: 767px) {
        #meetOurTeam div.team-gallery .team-gallery-box .team-gallery-img {
          width: 92%; } }
      #meetOurTeam div.team-gallery .team-gallery-box .team-gallery-img .hover-items {
        opacity: 0; }
      #meetOurTeam div.team-gallery .team-gallery-box .team-gallery-img:hover {
        z-index: 5;
        -webkit-box-shadow: 10px 10px 0px 0px #95e1d3;
        -moz-box-shadow: 10px 10px 0px 0px #95e1d3;
        box-shadow: 10px 10px 0px 0px #95e1d3;
        background: -moz-linear-gradient(top, #f38181 0%, rgba(252, 227, 138, 0.9) 100%), url("../img/pic1.jpg");
        background: -webkit-linear-gradient(top, #f38181 0%, rgba(252, 227, 138, 0.9) 100%);
        background: linear-gradient(to bottom, #f38181 0%, rgba(252, 227, 138, 0.9) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#e6fce38a',GradientType=0 ); }
      #meetOurTeam div.team-gallery .team-gallery-box .team-gallery-img:hover .hover-items {
        opacity: 1; }
    #meetOurTeam div.team-gallery .team-gallery-box .team-gallery-name {
      margin-bottom: 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 13px;
      color: #333333;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      margin-top: 32px; }
    #meetOurTeam div.team-gallery .team-gallery-box .team-gallery-func {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      margin-top: 7px;
      text-align: center;
      font-size: 14px;
      line-height: 24px;
      color: #999999; }

#meetOurTeam div.team-logo {
  padding: 59px 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap; }
  @media screen and (min-width: 767px) {
    #meetOurTeam div.team-logo {
      flex-wrap: nowrap; } }
  #meetOurTeam div.team-logo img {
    width: 50%;
    margin: auto;
    padding: 40px; }
    @media screen and (min-width: 767px) {
      #meetOurTeam div.team-logo img {
        width: 16.6%; } }

#someWork h4 {
  margin-top: 68px; }

#someWork p.under-header {
  margin-top: 39px; }

#someWork div.work-gallery {
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin-top: 99px; }
  #someWork div.work-gallery div.work-gallery-box {
    display: none; }
    #someWork div.work-gallery div.work-gallery-box:nth-of-type(2) {
      display: block; }
    @media screen and (min-width: 767px) {
      #someWork div.work-gallery div.work-gallery-box {
        display: block; } }
    #someWork div.work-gallery div.work-gallery-box img {
      margin-bottom: -4px; }
    #someWork div.work-gallery div.work-gallery-box .gallery-gradient {
      position: absolute;
      width: 480px;
      height: 390px;
      display: block;
      text-align: center;
      padding-top: 161px;
      background: -moz-linear-gradient(top, #f38181 0%, rgba(252, 227, 138, 0.9) 100%), url("../img/pic1.jpg");
      background: -webkit-linear-gradient(top, #f38181 0%, rgba(252, 227, 138, 0.9) 100%);
      background: linear-gradient(to bottom, #f38181 0%, rgba(252, 227, 138, 0.9) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#e6fce38a',GradientType=0 );
      opacity: 0;
      margin-top: -390px; }
      #someWork div.work-gallery div.work-gallery-box .gallery-gradient:hover {
        opacity: 1; }
      #someWork div.work-gallery div.work-gallery-box .gallery-gradient .gradient-icon {
        background-image: url("../img/picture.png");
        height: 30px;
        margin-left: 50%;
        transform: translateX(-50%);
        background-repeat: no-repeat;
        width: 30px; }
      #someWork div.work-gallery div.work-gallery-box .gallery-gradient .gradient-text1 {
        text-transform: uppercase;
        color: #ffffff;
        font-size: 14px;
        margin-top: 18px;
        margin-bottom: -4px; }
      #someWork div.work-gallery div.work-gallery-box .gallery-gradient .gradient-text2 {
        color: #ffffff;
        font-size: 14px;
        font-style: italic; }
    #someWork div.work-gallery div.work-gallery-box .gallery-gradient-2xheight {
      margin-top: -780px;
      height: 780px;
      padding-top: 350px; }

#someWork div.quote {
  height: auto;
  margin-top: 99px;
  padding: 0px 20px; }
  #someWork div.quote img {
    width: 22%;
    height: 22%; }
  @media screen and (min-width: 767px) {
    #someWork div.quote {
      padding: 0px 110px; } }
  #someWork div.quote .quote-text {
    padding-left: 28px;
    padding-top: 33px; }
  #someWork div.quote span.line {
    transform: none;
    margin-top: 29px;
    margin-left: 3px;
    width: 60px; }
  #someWork div.quote p.quote-autor {
    padding-top: 10px;
    padding-left: 7px; }

div.quote {
  display: flex;
  width: 100%;
  font-size: 25px;
  font-style: italic;
  height: 148px;
  padding-left: 0px;
  margin-bottom: 274px;
  margin-top: 0px; }
  @media screen and (min-width: 767px) {
    div.quote {
      padding-left: 141px;
      margin-top: 190px;
      margin-bottom: 0; } }
  div.quote div.img-conteiner {
    border: 2px solid;
    border-color: #95e1d3;
    padding: 41px; }
  div.quote .quote-text {
    padding-left: 58px;
    padding-top: 1px;
    display: flex;
    line-height: 36px;
    text-align: left;
    color: #999999;
    width: 85%;
    flex-direction: column; }
    div.quote .quote-text .quote-text-top {
      font-size: 14px;
      width: 100%; }
      @media screen and (min-width: 767px) {
        div.quote .quote-text .quote-text-top {
          font-size: 24px; } }
    div.quote .quote-text .quote-text-bottom {
      display: flex;
      padding-left: 1px; }
      div.quote .quote-text .quote-text-bottom span.line {
        height: 3px;
        width: 68px;
        background: #f38181;
        margin-left: 3px;
        margin-top: 31px;
        display: block; }
      div.quote .quote-text .quote-text-bottom p.quote-autor {
        font-family: 'Kaushan Script', cursive;
        margin-top: 0;
        text-align: left;
        font-size: 14px;
        padding-left: 8px;
        color: black;
        padding-top: 18px; }
        @media screen and (min-width: 767px) {
          div.quote .quote-text .quote-text-bottom p.quote-autor {
            font-size: 24px; } }

#peopleSay {
  background-image: url("../img/background_people.jpg");
  background-position: center;
  background-size: cover;
  width: 100%; }
  @media screen and (min-width: 767px) {
    #peopleSay {
      height: 727px; } }
  #peopleSay h4 {
    margin-top: 233px; }
  #peopleSay div.people-conteiner {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 18px;
    padding: 0 71px; }
    @media screen and (min-width: 767px) {
      #peopleSay div.people-conteiner {
        flex-wrap: wrap;
        flex-direction: row; } }
    #peopleSay div.people-conteiner .people-box {
      width: 100%;
      display: flex;
      margin-bottom: -19px; }
      @media screen and (min-width: 767px) {
        #peopleSay div.people-conteiner .people-box {
          width: 50%; } }
      #peopleSay div.people-conteiner .people-box:nth-of-type(2) {
        padding-left: 40px; }
      #peopleSay div.people-conteiner .people-box:nth-of-type(4) {
        padding-left: 40px; }
      #peopleSay div.people-conteiner .people-box img {
        margin: auto; }
      #peopleSay div.people-conteiner .people-box .people-box-text {
        padding-top: 60px;
        padding-left: 29px; }
        #peopleSay div.people-conteiner .people-box .people-box-text .people-conteiner-name {
          text-transform: uppercase;
          padding-top: 3px;
          font-size: 14px;
          font-weight: bold; }
        #peopleSay div.people-conteiner .people-box .people-box-text .people-conteiner-func {
          margin-top: -4px;
          font-style: italic;
          font-size: 12px; }
        #peopleSay div.people-conteiner .people-box .people-box-text span.line {
          margin-left: 0;
          transform: none;
          width: 62px;
          margin-top: 19px; }
        #peopleSay div.people-conteiner .people-box .people-box-text .people-conteiner-comment {
          font-size: 15px;
          padding-top: 5px;
          padding-right: 20px;
          line-height: 24px;
          color: #999999; }

h4 {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0; }

h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin-top: 10px; }

span.line {
  display: block;
  height: 3px;
  width: 58px;
  background-color: #f38181;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 34px; }

p.under-header {
  text-align: center;
  font-size: 15px;
  display: block;
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 77px;
  word-spacing: 0px;
  padding: 0px 25px;
  line-height: 25px;
  color: #999999;
  font-family: 'Roboto', sans-serif; }
  @media screen and (min-width: 767px) {
    p.under-header {
      padding: 0 150px; } }

#blog h4 {
  margin-top: 104px; }

#blog div.blog-conteiner {
  display: flex;
  width: 100%;
  padding-left: 30px;
  flex: 1;
  margin-top: 37px;
  flex-direction: column; }
  @media screen and (min-width: 767px) {
    #blog div.blog-conteiner {
      flex-direction: row; } }
  #blog div.blog-conteiner .blog-box {
    width: 100%; }
    @media screen and (min-width: 767px) {
      #blog div.blog-conteiner .blog-box {
        width: 33.3%; } }
    #blog div.blog-conteiner .blog-box .blog-photo {
      height: 240px;
      background-repeat: no-repeat;
      display: flex;
      align-items: flex-end;
      margin: 10px 1px;
      padding-bottom: 10px;
      background-position-x: center; }
      @media screen and (min-width: 767px) {
        #blog div.blog-conteiner .blog-box .blog-photo {
          background-position-x: left; } }
      #blog div.blog-conteiner .blog-box .blog-photo .blog-photo-bcg {
        background-color: #95e1d3;
        width: 60px;
        height: 70px;
        position: relative;
        left: 60px;
        text-align: center;
        color: #ffffff; }
        @media screen and (min-width: 767px) {
          #blog div.blog-conteiner .blog-box .blog-photo .blog-photo-bcg {
            left: -10px; } }
    #blog div.blog-conteiner .blog-box .blog-photo-1 {
      background-image: url("../img/pic15.jpg"); }
    #blog div.blog-conteiner .blog-box .blog-photo-2 {
      background-image: url("../img/pic16.jpg"); }
    #blog div.blog-conteiner .blog-box .blog-photo-3 {
      background-image: url("../img/pic17.jpg"); }
    #blog div.blog-conteiner .blog-box .blog-photo-day {
      font-size: 30px;
      font-weight: bold;
      margin: 0;
      margin-top: 8px; }
    #blog div.blog-conteiner .blog-box .blog-photo-month {
      margin: -5px;
      font-style: italic;
      font-size: 14px; }
    #blog div.blog-conteiner .blog-box .blog-topic {
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 17px;
      font-weight: bold;
      margin-bottom: 0; }
    #blog div.blog-conteiner .blog-box .blog-comment {
      font-size: 14px;
      line-height: 24px;
      margin-top: 9px; }

#blog div.openmap {
  text-align: center;
  margin-top: 154px;
  background-image: url("../img/background_map.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
  padding-top: 57px;
  cursor: pointer; }
  @media screen and (max-width: 767px) {
    #blog div.openmap {
      display: none; } }
  #blog div.openmap p.openmap-text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: -18px;
    color: #f38181; }

div.blog-summary {
  display: none;
  width: 100%;
  margin-top: 55px;
  padding: 0 30px; }
  @media screen and (min-width: 767px) {
    div.blog-summary {
      display: flex; } }
  div.blog-summary .blog-summary-box1 {
    width: 66%; }
    div.blog-summary .blog-summary-box1 h2.blog-summary-h2 {
      font-size: 45px;
      margin-top: 8px;
      margin-bottom: 0px;
      color: #999999; }
    div.blog-summary .blog-summary-box1 p.blog-summary-text {
      color: #999999;
      font-size: 14px;
      margin-top: 26px;
      line-height: 24px;
      padding-right: 11px; }
    div.blog-summary .blog-summary-box1 .blog-summary-followers {
      margin-top: 44px;
      font-weight: bold; }
    div.blog-summary .blog-summary-box1 .blog-summary-followus {
      display: flex;
      flex-direction: row; }
      div.blog-summary .blog-summary-box1 .blog-summary-followus .blog-summary-followus-text {
        font-size: 14px;
        font-style: italic;
        margin-top: 16px;
        color: #999999;
        margin-right: 14px; }
      div.blog-summary .blog-summary-box1 .blog-summary-followus .blog-follow-icon {
        padding: 16px 4px;
        margin: 0 4px; }
    div.blog-summary .blog-summary-box1 button.blog-subscribe {
      background-color: #95e1d3;
      color: #ffffff;
      text-transform: uppercase;
      width: 150px;
      height: 38px;
      margin-top: 22px;
      margin-left: 45%;
      box-shadow: none;
      border: none;
      font-weight: bold; }
  div.blog-summary .blog-summary-box2 {
    width: 54%; }
    div.blog-summary .blog-summary-box2 .blog-summary-topic {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 15px;
      margin-top: 19px;
      margin-left: -3px; }
    div.blog-summary .blog-summary-box2 .blog-summary-gallerybox {
      display: flex;
      margin-top: 36px;
      margin-bottom: -10px; }
      div.blog-summary .blog-summary-box2 .blog-summary-gallerybox img.blog-summary-img {
        height: 80px; }
      div.blog-summary .blog-summary-box2 .blog-summary-gallerybox .blog-summary-box-text {
        margin-left: 18px; }
        div.blog-summary .blog-summary-box2 .blog-summary-gallerybox .blog-summary-box-text .blog-summary-tiltle {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: bold;
          margin-top: 18px;
          line-height: 17px;
          color: #333333;
          margin-bottom: -4px; }
        div.blog-summary .blog-summary-box2 .blog-summary-gallerybox .blog-summary-box-text .blog-summary-date {
          color: #999999;
          font-size: 11px;
          font-style: italic; }
  div.blog-summary .blog-summary-box3 {
    width: 35%; }
    div.blog-summary .blog-summary-box3 .instagram-summary {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 36px; }
    div.blog-summary .blog-summary-box3 .instagram-gallery {
      margin-bottom: 12px; }
      div.blog-summary .blog-summary-box3 .instagram-gallery .instagram-gallery-img {
        margin: -1px; }
    div.blog-summary .blog-summary-box3 .instagram-more {
      font-style: italic;
      font-size: 11px;
      color: #333333; }

footer {
  text-align: center;
  margin-top: 90px;
  font-size: 14px;
  color: #333333;
  font-weight: bold; }
  footer .laaqiq {
    color: #f38181; }

div.hamburger-style {
  width: 40px;
  height: 30px;
  position: absolute;
  right: 20px;
  margin: 5px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 10;
  top: 16px; }
  div.hamburger-style span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }
  div.hamburger-style span:nth-child(1) {
    top: 7px;
    bottom: 10px; }
  div.hamburger-style span:nth-child(2) {
    top: 18px; }
  div.hamburger-style span:nth-child(3) {
    top: 29px; }
  @media screen and (min-width: 767px) {
    div.hamburger-style {
      display: none; } }

#hamburger.open span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg); }

#hamburger.open span:nth-child(2) {
  opacity: 0;
  left: 60px; }

#hamburger.open span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg); }
