#storyAboutUs {

    h4 {
        margin-top: 86px;
    }

    p.under-header {
        margin-top: 38px;
    }

    div.about-gallery {
        margin-top: -16px;
        display: flex;
        flex-direction: column;
        width: 100%;

        @media screen and (min-width: 767px) {
            flex-direction: row;
        }

        div.about-gallery-pic {
            width: 50%;
            flex: 1;
            text-align: center;
            background-image: url('../img/pic1.jpg');
            background-repeat: no-repeat;
            margin-top: 88px;
            height: 250px;
            margin-left: 50%;
            transform: translateX(-50%);
            position: relative;

            &:nth-of-type(2) {
               background-image: url('../img/pic2.jpg'); 
            }

            &:nth-of-type(3) {
               background-image: url('../img/pic3.jpg');
               
               @media screen and (min-width: 767px) {
                    margin-right: 23px;
                }
            }

            @media screen and (min-width: 767px) {
                width: 33.3%;
                margin-left: 23px;
                transform: none;
            }


            div.about-gallery-img {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                @media screen and (min-width: 1260px) {
                    width: 380px;
                }

                &:hover {
                    z-index: 5;
                    -webkit-box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
                    -moz-box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
                    box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
                    background: -moz-linear-gradient(top, rgba(243,129,129,1) 0%, rgba(252,227,138,0.9) 100%), url('../img/pic1.jpg');
                    background: -webkit-linear-gradient(top, rgba(243,129,129,1) 0%,rgba(252,227,138,0.9) 100%);
                    background: linear-gradient(to bottom, rgba(243,129,129,1) 0%,rgba(252,227,138,0.9) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#e6fce38a',GradientType=0 );
                }
                &:hover .hover-items {
                    opacity: 1;
                }
            }

            img {
                opacity: 0;
            }

            p.about-gallery-text {
                text-transform: uppercase;
                color: $home-letters;
                font-weight: bold;
                margin-top: 3px;
                font-size: 18px;
                opacity: 0;
            }
        }
    }

    div.about-box-conteiner {
        flex: 1;
        background: #95e1d3;
        margin-top: 119px;
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;

        .about-box {
            width: 50%;
            display: flex;
            text-align: center;
            flex-direction: column;
            margin: 19px -70px;
            font-family: 'Montserrat', sans-serif;

           @media screen and (min-width: 767px) {
                margin: 72px -6px;
                width: 20%;
            }
        }

        .about-box-number {
            font-size: 6vw;
            font-weight: bold;
            color: $home-letters;
        }

        .about-box-text {
            text-transform: uppercase;
            color: $home-letters;
            margin-top: 5px;
            font-size: 1.1vw;
        }
    }
}