#blog {

    h4 {
        margin-top: 104px;
    }

    div.blog-conteiner {
        display: flex;
        width: 100%;
        padding-left:  30px;
        flex: 1;
        margin-top: 37px;
        flex-direction: column;

        @media screen and (min-width: 767px) {
            flex-direction: row;
        }

        .blog-box {
            width: 100%;

            @media screen and (min-width: 767px) {
                width: 33.3%
            }

            .blog-photo {
                height: 240px;
                background-repeat: no-repeat;
                display: flex;
                align-items: flex-end;
                margin: 10px 1px;
                padding-bottom: 10px;
                background-position-x: center;

                @media screen and (min-width: 767px) {
                    background-position-x: left;
                }

                .blog-photo-bcg {
                    background-color: $filler;
                    width: 60px;
                    height: 70px;
                    position: relative;
                    left: 60px;
                    text-align: center;
                    color: $home-letters;

                    @media screen and (min-width: 767px) {
                        left: -10px;
                    }
                }
            }

            .blog-photo-1 {
                background-image: url('../img/pic15.jpg');
            }

            .blog-photo-2 {
                background-image: url('../img/pic16.jpg');
            }

            .blog-photo-3 {
                background-image: url('../img/pic17.jpg');
            }

            .blog-photo-day {
                font-size: 30px;
                font-weight: bold;
                margin: 0;
                margin-top: 8px;
            }

            .blog-photo-month {
                margin: -5px;
                font-style: italic;
                font-size: 14px;
            }

            .blog-topic {
                text-transform: uppercase;
                font-size: 14px;
                margin-top: 17px;
                font-weight: bold;
                margin-bottom: 0;
            }

            .blog-comment {
                font-size: 14px;
                line-height: 24px;
                margin-top: 9px;
            }
        }
    }

    div.openmap {
        text-align: center;
        margin-top: 154px;
        background-image: url('../img/background_map.jpg');
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 200px;
        padding-top: 57px;
        cursor: pointer;

        @media screen and (max-width: 767px){
            display: none;
        }

        p.openmap-text {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 24px;
            margin-top: 8px;
            margin-bottom: -18px;
            color: $line;
        }
    }
}