#amazingServices {
    
    h4 {
        margin-top: 115px;
    }


    div.service-box {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 44px;
        padding: 2px 60px;
        margin-bottom: 50px;

        div.service-box-element {
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-bottom: 64px;
            padding-right: 57px;

            @media screen and (min-width: 550px) {
                width: 50%;
            }

            @media screen and (min-width: 767px) {
                width: 33.3%;

                &:nth-of-type(2){
                padding-left: 19px;
                }

                &:nth-of-type(5){
                    padding-left: 19px;
                }

                &:nth-of-type(3){
                    padding-left: 39px;
                    padding-right: 0px;
                }

                &:nth-of-type(6){
                    padding-left: 39px;
                    padding-right: 0px;
                }
            }

            

            img.service-icon {
                margin: auto;
                padding-bottom: 35px;
                padding-left: 1px;

                
            }

            div.service-box-text {
                padding-left: 27px;
                padding-top: 2px;
                padding-right: 2px;

                p.p1 {
                    text-transform: uppercase;
                    font-size: 14px;
                    margin-bottom: -5px;
                    font-weight: bold;
                }

                p.p2 {
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                    padding-top: 2px;
                    line-height: 24px;
                    color: $light-text;
                }
            }

            
        }
    }
}