#meetOurTeam {

    h4 {
        margin-top: 166px;
    }

    p {
        margin-top: 40px;
    }

    div.team-gallery {
        display: flex;
        padding: 63px 7px;
        width: 100%;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 767px) {
            flex-direction: row;
        }

        .team-gallery-box {
            display: flex;
            width: 84%;
            flex-direction: column;

            @media screen and (min-width: 767px){
                width: 33.3%;
            }

            .team-gallery-pic1, .team-gallery-pic2, .team-gallery-pic3 {
                text-align: center;
                background-repeat: no-repeat;
                margin-top: 2px;
                height: 470px;
                padding-top: 104px;
                margin-left: 50%;
                transform: translateX(-50%);
                position: relative;
                width: 380px;

                @media screen and (min-width: 767px) {
                    width: 84%;
                    margin-left: 23px;
                    transform: none;
                }
            }

            .team-gallery-pic1 {
                background-image: url('../img/pic5.jpg'); 
            }

            .team-gallery-pic2 {
                background-image: url('../img/pic6.jpg'); 
            }   
            
            .team-gallery-pic3 {
                background-image: url('../img/pic7.jpg');
                
                @media screen and (min-width: 767px) {
                        margin-right: 23px;
                }
            }

            .team-gallery-img {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;

                .hover-items {
                    opacity: 0;
                }

                &:hover {
                    z-index: 5;
                    -webkit-box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
                    -moz-box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
                    box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
                    background: -moz-linear-gradient(top, rgba(243,129,129,1) 0%, rgba(252,227,138,0.9) 100%), url('../img/pic1.jpg');
                    background: -webkit-linear-gradient(top, rgba(243,129,129,1) 0%,rgba(252,227,138,0.9) 100%);
                    background: linear-gradient(to bottom, rgba(243,129,129,1) 0%,rgba(252,227,138,0.9) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#e6fce38a',GradientType=0 );
                }
                
                &:hover .hover-items {
                    opacity: 1;
                }
            }
            
            .team-gallery-name {
                margin-bottom: 0;
                text-transform: uppercase;
                text-align: center;
                font-size: 13px;
                color: #333333;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                margin-top: 32px;
            }

            .team-gallery-func {
                font-family: 'Roboto', sans-serif;
                font-style: italic;
                margin-top: 7px;
                text-align: center;
                font-size: 14px;
                line-height: 24px;
                color: $light-text;
            }
        }
    }

    div.team-logo {
        padding: 59px 0;
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;

        @media screen and (min-width: 767px) {
            flex-wrap: nowrap;
        }

        img {
            width: 50%;
            margin: auto;
            padding: 15px;

            @media screen and (min-width: 400px){
                padding: 40px;
            }

            @media screen and (min-width: 600px){
                padding: 60px;
            }

            @media screen and (min-width: 767px) {
                width: 16.6%;
            }
        }
    }
}